<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Lista de parceiros" [options]="false">
      <form action="javascript:" class="form-inline">
        <div class="form-group mt-3">
          <label for="inputPassword6">De</label>
          <input type="date" id="inputPassword6" class="form-control mx-sm-2" aria-describedby="passwordHelpInline">
          <small id="passwordHelpInline" class="text-muted">Até</small>
          <input type="date" id="inputPassword6" class="form-control mx-sm-2" aria-describedby="passwordHelpInline">
            <select class="mb-3 form-control">
              <option>Default select</option>
               </select>
               <button type="submit" style="right: 90px;"  class="btn btn-danger"><i>Pesquisar</i></button>
              </div>
        </form>
      </app-card>
    </div>
</div>
